body {
    /*font-family: Lato;
    font-size: 14px;*/
}
.order-filter-nav {
    margin-top: 20px;
}
.book-cover-design {
    float: left;
    margin: 20px 0;
}
.book-cover-design img {
    width: 19%;
}
.book-cover-design a:hover {
    transition: all .7s;
    background: tomato;
}
.second-book-content {
    margin-top: 20px;
}
.btn-wrapper {
    text-align: right;
}
.btn-wrapper2 {
    margin-top: 20px;
    text-align: center;
}
.dropdown-row {
    margin-top: 20px;
}
.carousel {
    margin: 20px 0;
}
.card-img-top {
    height: 393px;
}
footer{
    background: #f8f9fa;
    height: 100px;
}
