body {
    /*font-family: Lato;
    font-size: 14px;*/
}
.order-filter-nav {
    margin-top: 20px;
}
.book-cover-design {
    float: left;
    margin: 20px 0;
}
.book-cover-design img {
    width: 19%;
}
.book-cover-design a:hover {
    transition: all .7s;
    background: tomato;
}
.second-book-content {
    margin-top: 20px;
}
.btn-wrapper {
    text-align: right;
}
.btn-wrapper2 {
    margin-top: 20px;
    text-align: center;
}
.dropdown-row {
    margin-top: 20px;
}
.carousel {
    margin: 20px 0;
}
.card-img-top {
    height: 393px;
}
footer{
    background: #f8f9fa;
    height: 100px;
}
.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
    background: white;
    position: relative;
    right: 83px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1)
}
.arrow-custom-previous{
    font-size: 40px;
    color: black;
    margin-top: 5px;
    margin-right: 6px;
}
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background: white;
    position: relative;
    left: 75px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1)
}
.arrow-custom-next{
    font-size: 40px;
    color: black;
    margin-top: 5px;
    margin-right: 0px;
}
