body {
    font-size: 14px;
    background: #f9f9f9;
    font-family: Lato;
    font-weight: 700;
}
h3 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
}
.btn {
    font-weight: 600;
}
a:hover {
    font-weight: 600;
    text-decoration: none;
}
/* --- General padding i margin css --- */
.ml-10 {
    margin-left: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.p0 {
    padding: 0;
}
.dropdown-menu>li>a {
    font-weight: 600;
}
.navbar {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
    background: white;
}
.custom-form {
    text-align: right;
    margin-top: 7px;
}
.order-filter-nav {
    margin-top: 20px;
}
.book-cover-design {
    float: left;
    margin: 20px 0;
}
.book-cover-design img {
    width: 16%;
    height: 100%;
}
.book-cover-design a:hover {
    transition: all .7s;
    background: tomato;
}
.second-book-content {
    margin-top: 20px;
}
.btn-wrapper {
    text-align: right;
}
.btn-wrapper2 {
    margin: 10px 0 20px 0;
}
.dropdown-row {
    margin: 20px 0;
}
.carousel {
    margin: 20px 0;
}
.card {
    border: 1px solid darkgray;
    border-radius: 5px;
}
.card-img-top {
    height: 393px;
}
.card-title {
    font-family: Lato;
    font-weight: 700;
    font-size: 2rem;
}
footer{
    background: #f8f9fa;
    height: 100px;
}
.users-navbar {
    text-align: right;
}
.users-navbar a {
    font-size: 28px;
    color: #cccccc;
}
.users-navbar a:hover {
    color: #9E9E9E;
    text-decoration: none;
}
.picked-book {
    background: white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
    border-radius: 5px;
    margin:0 10px 15px 0;
}
.picked-book-header img {
    height: 200px;
    margin-top: 30px;
}
.picked-book-body {
    margin-top: 20px;
}
.picked-book-body span {
    font-weight: 700;
}
.picked-book-body h4 {
    font-size: 1.6rem;
    font-weight: bold;
}
.picked-book-footer {
    padding: 15px 0;
}
.custom-col-md-6 {
    width: 48%;
    display: inline-block;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.form-content {
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
    padding: 20px;
    margin-top: 20px;
}
.form-content h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
}
.tab-content {
    background: white;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 20px;
}
.current-user-msg h4 {
    font-size: 1.8rem;
    font-weight: 700;
}
.nav-tabs li a {
    padding: 15px 20px;
}
.read-more-state {
    display: none;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}
.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}
.picked-author-header {
    width: 120px;
    height: 120px;
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    border-radius: 50%;
}
.picked-author-header img {
    display: inline;
    margin-left: -75%;
    height: 100%;
    width: auto;
}
.picked-author-body {
    margin: 20px 0 20px 30px;
}
.picked-author-body h4 {
    font-size: 1.6rem;
    font-weight: bold;
}
.modal-header {
    font-size: 2rem;
    background: #d6d6d640;
}
.modal-body {
    font-size: 1.6rem;
    line-height: 2.3rem;
}