<div ng-show="currentUser.role === 'admin'">
    <div>
        <h2>List of all users</h2>
    </div>
    <div class="add-user-wrapper">
        <a href="#/employee/0"><ion-icon name="person-add"></ion-icon></a>
    </div>
    <br>
    <ul class="user-wrapper">
        <li ng-repeat="user in users" class="user-list">
            {{user.name}}
            <span class="icon-wrapper">
                <a href="#/employee/{{user.id}}"><ion-icon name="create"></ion-icon></a>
                <a href=""><ion-icon name="trash" ng-click="delEmp(emp)"></ion-icon></a>
            </span>
        </li>
    </ul>
</div>