<div ng-show="currentUser.role === 'admin'">
    <div>
        <h2>List of all users</h2>
    </div>
    <div class="add-user-wrapper">
        <a href=""><ion-icon name="person-add" ng-click="editUser(0)"></ion-icon></a>
    </div>
    <br>
    <ul class="user-wrapper">
        <li ng-repeat="user in users" class="user-list">
            {{user.name}}
            <span class="icon-wrapper">
                <a href="#/users/{{user.id}}"><ion-icon name="create" ng-click="editUser(user.id)"></ion-icon></a>
                <a href=""><ion-icon name="trash" ng-click="delUser(user)"></ion-icon></a>
            </span>
        </li>
    </ul>
</div>