<div class="list-content">
    <div class="cart-mini-content row">
        <h2><ion-icon name="cart"></ion-icon> My Cart:</h2>
        <div ng-repeat="book in myCartItems">
            <div class="book-content col-md-4">{{book.title}}</div>
            <div class="price-content col-md-5">{{book.price}} $</div>
            <div class="btn-content col-md-3">
                <button class="btn btn-success" ng-click="buyBook(book.id)">Checkout</button>
                <button class="btn btn-danger" ng-click="removeFromCart(book.id)">Remove</button>
            </div>
        </div>
    </div>

    <h3>Book list</h3>
    <div class="picked-book custom-col-md-6" ng-repeat="book in books">
        <div class="row">
            <div class="picked-book-header col-md-4">
                <img src="{{book.image}}" alt="">
            </div>
            <div class="picked-book-body col-md-8">
                <h4>Book Title: <span>{{book.title}}</span></h4>
                <h4>Author: {{book.authors}}</h4>
                <h4>Publisher: {{book.publisher['name']}}</h4>
                <h4>Description: <a href="" ng-click="showBook(book.id)">See more</a></h4>
                <h4>Pages: {{book.pages}}</h4>
                <h4>Rating:
                    <span class="uib-custom-rating" uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></span>
                </h4>
                <h4>Price: {{book.price}}</h4>
            </div>
        </div>
        <div class="picked-book-footer text-center">
            <button class="btn btn-success" ng-click="addToCart(book)">Buy</button>
            <button class="btn btn-default ml-10">Add to wish list</button>
            <button class="btn btn-danger ml-10">Remove book</button>
        </div>

    </div>
</div>
