<!-- Book section -->
<div class="book-cover-design">
    <a href="#/shopingcart"><img src="images/book01.jpg" alt=""></a>
    <a href="#"><img src="images/book02.jpg" alt=""></a>
    <a href="#"><img src="images/book03.jpg" alt=""></a>
    <a href="#"><img src="images/book04.jpg" alt=""></a>
    <a href="#"><img src="images/book06.png" alt=""></a>
    <a href="#"><img src="images/book07.jpg" alt=""></a>
    <a href="#"><img src="images/book08.jpg" alt=""></a>
    <a href="#"><img src="images/book09.jpg" alt=""></a>
    <a href="#"><img src="images/book11.png" alt=""></a>
    <a href="#"><img src="images/book13.jpg" alt=""></a>
</div>