<div class="users-navbar" ng-show="currentUser">
    <span ng-if="myCartItems.length">
        <a href="#/shopingcart">
            <ion-icon class="shoping-cart-user" name="cart"></ion-icon>
            <span class="how-many-books-notification-user">{{myCartItems.length}}</span>
        </a>
    </span>
    <!--<a href="#/shopingcart"><ion-icon name="cart"></ion-icon></a>-->
    <a href="#/wishlist"><ion-icon name="list-box"></ion-icon></a>
    <a href="#/userpage"><ion-icon name="person"></ion-icon></a>
    <a href="#/admin" ng-show="currentUser.role === 'admin'"><ion-icon name="people"></ion-icon></a>
    <a href=""><ion-icon name="log-out"></ion-icon></a>
</div>