<div class="cart-mini-content row">
    <h2>Wish list:</h2>
    <div ng-repeat="book in myListItems">
        <div class="book-content col-md-6">{{book.title}}</div>
        <div class="price-content col-md-4">{{book.price}} $</div>
        <div class="btn-content col-md-2">
            <button class="btn btn-danger" ng-click="removeFromList(book)">Remove</button>
            <button class="btn btn-success" ng-click="addToCart(book)">Buy</button>
        </div>
    </div>
    <div class="pull-right">
        <a href="#/books">
            <button class="btn btn-default">Back to shop</button>
        </a>
    </div>
</div>